@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-image: url('Pictures/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

p{
  font-family: 'Roboto', sans-serif;
}

button{
  border: none;
  border-radius: 8px;
}

.login-Text{
  font-size: 20px;
  color: white;
  margin: 7px 0 7px 0;
  text-align: center;
}

.logout-Text{
  font-size: 19px;
  color: white;
  margin: 0px 0 0px 0;
}

.finishRegister-Text{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #45e8d8;
  margin: 20px 0 20px 0;
}

.username-Text{
  margin-top: 15px;
  margin-bottom: 5px;
}

.footer-Text{
  float: left;
  font-size: 20px;
  margin-right: 15px;
}

.Chazam-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
}

.Google-logo {
  float:left;
  width: 42px;
  margin-right: 8px;
}

.Milhojas-logo {
  width: 130px;
  float: left;
}

.login-Box {
  text-align: center;
  background-color: rgba(5,22,30,0.6);
  padding: 30px 10px 50px 10px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  width: 420px;
  font-size: 22px;
  color: white;
}

.login-Box2 {
  text-align: center;
  background-color: rgba(5,22,30,0.6);
  padding: 30px 10px 50px 10px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  width: 380px;
  font-size: 22px;
  color: white;
}

.logout-Page-Box{
  text-align: center;
  background-color: rgba(13, 117, 120, 0.732);
  padding: 30px 30px 50px 30px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  width: 420px;
  font-size: 22px;
  color: white;
}

.signup-Box {
  text-align: left;
  background-color: rgba(5,22,30,0.6);
  padding: 30px 70px 30px 70px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 250px;
  font-size: 20px;
  color: white;
}

.signup-Box2 {
  text-align: left;
  background-color: rgba(5,22,30,0.6);
  padding: 10px 70px 10px 40px;
  border-radius: 10px;
  margin-left: -10px;
  margin-right: 10px;
  margin-top: 20px;
  width: 170px;
  font-size: 20px;
  color: white;
}

.googleLogin{
  display: block;
  border: none;
  border-radius: 8px;
  background-color: #17A597;
  padding: 10px 25px 10px 25px;
  width: 280px;
  margin-top: -5px;
  margin-bottom: 30px;
  margin-left: 28px;
  margin-right: 28px;
  text-decoration: none;
}
.otherLogin{
  text-align: left;
  display: block;
  border: none;
  border-radius: 8px;
  background-color: #167f99;
  padding: 10px 35px 10px 35px;
  width: 220px;
  margin-top: 15px;
  margin-bottom: 30px;
  margin-left: 45px;
  margin-right: 45px;
  text-decoration: none;
}

.Ingresar-Text{
  font-size: 30px;
  color: white;
}

.startButton{
  display: block;
  border: none;
  border-radius: 8px;
  background-color: #17A597;
  padding: 10px 25px 10px 25px;
  width: 200px;
  margin-top: 30px;
  margin-left: 90px;
  margin-right: 90px;
  text-decoration: none;
}

.ingresarButton{
  display: block;
  border: none;
  border-radius: 8px;
  background-color: #c65f5f;
  padding: 10px 10px 10px 10px;
  width: 180px;
  margin-top: -10px;
  margin-left: 105px;
  margin-right: 105px;
}

.goToRegisterButton{
  font-size: 18px;
  display: block;
  border-style: outset;
  border-radius: 8px;
  padding: 10px 10px 10px 10px;
  width: 100px;
  margin-top: 10px;
  margin-left: 135px;
  margin-right: 135px;
}

.goToLoginButton{
  font-size: 18px;
  display: block;
  border-style: outset;
  border-radius: 8px;
  padding: 5px 10px 5px 10px;
  width: 250px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.logout-Box{
  background-color: #d24141;
  color:white;
  border-radius: 8px;
  padding: 10px 15px 10px 15px;
  width: 150px;
  height:20px;
  text-align: right;
  position: sticky;
  top:50px;
  margin-top:-10px;
  float:right;
  visibility: hidden;
}

a{
  text-decoration: none;
  color: white;
  text-align: center;
}

.registerButton{
  border-radius: 5px;
  background-color: rgb(238, 100, 100);
  border-style: none;
  padding: 10px 5px 10px 5px;
  width: 150px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 18px;
}

.usernameInput{
  width: 240px;
  height: 30px;
  font-size: 20px;
  align-self: left;
}

.header-Box{
  display: block;
  width: 900px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.title-Box{
  display: block;
  float:left;
  background-color: rgba(5,22,30,0.6);
  border-radius: 10px;
  width: 780px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.Chazam-logo2 {
  position:relative;
  bottom: -16px;
  float:left;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.mainPage-title{
  color:#40cfc0;
  font-size: 43px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.mainPage-subtitle{
  color: white;
  font-size: 18px;
  margin-top: -6px;
  margin-bottom: 0px;
}

.user-Box{
  display: block;
  float:right;
  background-color: rgba(5,22,30,0.6);
  border-radius: 10px;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.user-icon{
  width: 60px;
  margin: 20px 20px 20px 20px;
}

.mainPage-Icon{
  width:120px;
  margin-top: 130px;
  margin-bottom: 40px;
}

.mainPage-ButtonTitle{
  color: white;
  font-size: 20px;
}

.function-Container{
  display: block;
  width: 900px;
  height: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 30px;
}

.catalogo-Button{
  display: block;
  text-align: center;
  float:left;
  background-color: rgba(173, 71, 71, 0.8);
  border-radius: 10px;
  margin-right: 15px;
  width: 290px;
  height: 480px;
}

.mapa-Button{
  display: block;
  text-align: center;
  float:left;
  background-color: rgba(23, 165, 151, 0.8);
  border-radius: 10px;
  margin-right: 15px;
  width: 290px;
  height: 480px;
}

.ranking-Button{
  display: block;
  text-align: center;
  float:left;
  background-color: rgba(14, 98, 90, 0.8);
  border-radius: 10px;
  width: 290px;
  height: 480px;
}

.footer{
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 10px 0 10px 0;
  background-color: rgba(75, 20, 20, 0.767);
  color: white;
}

.footerSpace{
  height: 100px;
}

.footer-Content{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  background-color: rgba(146, 16, 16, 0.767);
  color: white;
}